.navigation {
  display: flex ;
 justify-content: center ; 
 list-style-type: none;
}
.items {
  padding: 0 50px ;
  font-weight: bold ;
  border-bottom: 2px solid blueviolet ;
  padding-bottom: 10px ;
}
.subitem{
  padding: 10px 0 0 15px ;
}
.Services:hover .deroulant {
display: flex ;
flex-direction: column ;
position: absolute ; 
border-bottom: 2px solid blueviolet ;
padding: 10px ;
}
.deroulant {
  display: none
}
.items:hover  {
  color: blueviolet ;

}
